<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:c="http://www.springframework.org/schema/c"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd">

	<util:properties id="configTookitProp" location="classpath:config-toolkit.properties" />

	<bean id="znJobsSystemConfigProfile" class="com.dangdang.config.service.zookeeper.ZookeeperConfigProfile">
		<constructor-arg name="connectStr" value="#{configTookitProp['zk.address']}" />
		<constructor-arg name="rootNode" value="/znconfig/zn-jobs" />
		<constructor-arg name="version" value="#{configTookitProp['zk.configs.version']}" />
	</bean>

	<bean id="mossroseProp" class="com.dangdang.config.service.zookeeper.ZookeeperConfigGroup">
		<constructor-arg name="configProfile" ref="znJobsSystemConfigProfile" />
		<constructor-arg name="node" value="mossrose" />
	</bean>

	<bean id="mossroseConfig" class="com.jiuxian.mossrose.config.MossroseConfigFactory" factory-method="fromClasspathYamlFile">
		<constructor-arg value="#{mossroseProp['config.file']}"></constructor-arg>
	</bean>

	<bean id="mossroseProcess" class="com.jiuxian.mossrose.MossroseProcess">
		<constructor-arg name="mossroseConfig" ref="mossroseConfig" />
		<constructor-arg name="zks" value="#{configTookitProp['zk.address']}" />
	</bean>
	
		<bean class="com.jiuxian.mossrose.ui.RestMossroseUI">
		<constructor-arg name="jobOperation">
			<bean factory-bean="mossroseProcess" factory-method="getJobOperation" />
		</constructor-arg>
		<constructor-arg name="competitive">
			<bean factory-bean="mossroseProcess" factory-method="getCompetitive" />
		</constructor-arg>
		<constructor-arg name="port" value="#{mossroseProp['mossrose-ui.port']}" />
	</bean>
	

</beans>
